.mainContainer {
  background-color: rgb(144, 163, 224);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.SelectionContainer {
  margin: 0px auto;
  align-items: center;
}

.submitButtonContainer {
  margin: 0px auto;
  text-align: center;
  align-items: center;
}

.resultList {
  margin: 0px auto;
  text-align: center;
  align-items: center;
  border: 5px solid black;
}

.emptyResultList {
  margin: 0px auto;
  text-align: center;
  align-items: center;
}