
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

@font-face {
  font-family: 'Nunito Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
}



.title {
  padding-bottom: 5%;
  font-weight: bold;
  text-decoration: underline;
  font-size: 75px;
  color: #CE5C08;
}

.text {
  color: #CE5C08;
  font-family: 'Nunito Sans';
}

.box {
  width: 50%;
  height: 80%;
  margin: 0px auto;
  text-align: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  background-color: #BED3B4;
}

.innerBox {
  font-weight: bold;
  color: #CE5C08;
}

.mainContainer {
  background-color: #EBDBCD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.SelectionContainer {
  margin: 0px auto;
  align-items: center;
}

.submitButtonContainer {
  margin: 0px auto;
  text-align: center;
  align-items: center;
}
.SubmitButton {
  color: #3F5346
}

.resultList {
  margin: 0px auto;
  text-align: center;
  align-items: center;
  border: 5px solid black;
}

.emptyResultList {
  margin: 0px auto;
  text-align: center;
  align-items: center;
}